{% extends "blog/base.html" %}
{% load static %}

{% block titulo %}Contacto{% endblock titulo %}

{% block contenido %}
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Contáctanos</h4>
                <h2>BLOG GRUPO 1</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="contact-us">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="down-contact">
              <div class="row">
                <div class="col-lg-8">
                  <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                      <h2>Envía tu mensaje</h2>
                    </div>
                    <div class="content">

                      <form method="POST">
                        {% csrf_token %}

                        {% if form.errors %}
                          {% for field in form %}
                              {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                      <strong>{{ error|escape }}</strong>
                                  </div>
                              {% endfor %}
                          {% endfor %}
                          {% for error in form.non_field_errors %}
                              <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                              </div>
                          {% endfor %}
                        {% endif %}

                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {% comment %} {{ form.nombre }} {% endcomment %}
                              <input name="nombre" type="text" placeholder="Nombre y Apellido" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              {% comment %} {{ form.email }} {% endcomment %}
                              <input name="email" type="email" placeholder="Tu Email" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              {% comment %} {{ form.asunto }} {% endcomment %}
                              <input name="asunto" type="text" placeholder="Asunto">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              {% comment %} {{ form.mensaje }} {% endcomment %}
                              <textarea name="mensaje" rows="6" placeholder="Tu Mensaje" required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Enviar Mensaje</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="sidebar-item contact-information">
                    <div class="sidebar-heading">
                      <h2>Información de Contacto</h2>
                    </div>
                    <div class="content">
                      <ul>
                        <li>
                          <h5>555-555-555</h5>
                          <span>Teléfono</span>
                        </li>
                        <li>
                          <h5>Grupo1@gmail.com</h5>
                          <span>Email</span>
                        </li>
                        <li>
                          <h5>Dubai, 
                          	<br>Isla de Buenos Aires - Dubai</h5>
                          <span>Dirección</span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-lg-12">
            <div id="map">

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9637.477909533442!2d55.168288361790395!3d25.204053311399818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDub%C3%A1i%20-%20Emiratos%20%C3%81rabes%20Unidos!5e0!3m2!1ses-419!2sar!4v1703331487063!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

              
            </div>
          </div>
          
        </div>
      </div>
    </section>

{% endblock contenido %}


