{% extends "blog/base.html" %}
{% load static %}
{% load humanize %}

{% block titulo %}Detalle{% endblock titulo %}

{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Categoria de Post {{ post.categoria }}</h4>
                <h2>BLOG GRUPO 1</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{ post.imagen.url }}" alt="">
                    </div>
                    <div class="down-content">
                      <span>{{ post.titulo }}</span>
                      <h4>{{ post.categoria }}</h4>
                      <ul class="post-info">
                        <li><a href={% url 'blog:user' post.user %}>{{ post.user }}</a></li>
                        <li><a href="#">{{ post.creado|date:"M Y" }}</a></li>
                        <li><a href="#">
                          {% if cantidad_comentarios < 1 %}
                            {{ cantidad_comentarios }} Comentario 
                          {% else %}
                            {{ cantidad_comentarios }} Comentarios
                          {% endif %}
                          </a></li>
                      </ul>
                      {{ post.contenido|safe }}
                      <div class="post-options">
                        <div class="row">
                            {% if user.is_authenticated %}
                              {% if post.user|upper == user.username|upper or user.groups.all.0.name == 'Administrador' %}
                                <div class="col-3">
                                  <ul class="post-share">
                                    <li><i class="fa fa-arrow-left"></i></li>
                                    <li><a href="{% url 'blog:inicio' %}">Volver</a></li>
                                  </ul>
                                </div>
                                <div class="col-7">
                                  <ul class="post-share">
                                    <li><i class="fa fa-pencil"></i></li>
                                    <li><a href="{% url "blog:actualizar_post" post.url %}">Editar</a></li>
                                  </ul>
                                </div>
                                <div class="col-2">
                                  <ul class="post-share">
                                    <li><i class="fa fa-trash"></i></li>
                                    <li><a href="{% url "blog:eliminar_post" post.url %}">Eliminar</a></li>
                                  </ul>
                                </div>
                              {% endif %}
                            {% else %}
                              <div class="col-3">
                                <ul class="post-share">
                                  <li><i class="fa fa-share-alt"></i></li>
                                  <li><a href="">Facebook</a></li>
                                </ul>
                              </div>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item comments">
                    <div class="sidebar-heading">
                      <h2>
                        {% if cantidad_comentarios < 1 %}
                          {{ cantidad_comentarios }} Comentario 
                        {% else %}
                          {{ cantidad_comentarios }} Comentarios
                        {% endif %}
                      </h2>
                    </div>
                    {% for comentario in comentarios %}
                    <div class="content">
                      <ul>
                        <li>
                          <div class="author-thumb">
                            {% if comentario.perfil.imagen.url and comentario.perfil.imagen.url%}
                              <img src="{{ comentario.perfil.imagen.url }}" alt="">
                            {% else %}
                              <img src="{% static 'assets/images/users/users.jpg' %}" alt="">  
                            {% endif %}

                          </div>
                          <div class="right-content">
                            <h4>{{ comentario.user.username }}<span>{{ comentario.creado }}</span></h4>
                            <p>{{ comentario.comentario }}</p>
                          </div>
                          <div class="down-content">

                            {% if user.is_authenticated %}
                              {% if post.user|upper == user.username|upper or comentario.user|upper == user.username|upper or user.groups.all.0.name == 'Administrador' %}

                                <div class="post-options">
                                  <ul class="post-share">
                                    <li><i class="fa fa-trash"></i></li>
                                    <li><a href="{% url "blog:eliminar_comentario" comentario.id %}"> Eliminar</a></li>
                                  </ul>
                                </div>

                              {% endif %}
                            {% endif %}

                          </div>
                        </li>
                      </ul>
                      </div>
                      {% endfor %}
                  </div>
                </div>
                {% if user.is_authenticated and user.groups.all.0.name == 'Administrador' or user.groups.all.0.name == 'Colaborador' or user.groups.all.0.name == 'Registrado' %}
                <div class="col-lg-12">
                  <div class="sidebar-item submit-comment">
                    <div class="sidebar-heading">
                      <h2>Tu comentario</h2>
                    </div>
                    <div class="content">
                      <form method="POST" action="{% url "blog:comentario" %}">
                        {% csrf_token %}
                        <div class="row">

                          <input type="hidden" name="url" value="{{post.url}}" />
                          <input type="hidden" name="post" value="{{post.id}}" />
                          <input type="hidden" name="user" value="{{user.id}}" />
                          <input type="hidden" name="perfil" value="{{user.perfil.id}}" />

                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="comentario" rows="6" placeholder="Ingresa tu comentario" required=""></textarea>
                            </fieldset>
                          </div>

                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" class="main-button">Enviar</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="col-lg-4">
          <div class="sidebar">
            <div class="row">
              
              <!-- Inicio Barra Búsqueda -->
              <div class="col-lg-12">
                <div class="sidebar-item search">
                  <form id="search_form" name="gs" method="GET" action="#">
                    <input type="text" name="q" class="searchText" placeholder="type to search..." autocomplete="on">
                  </form>
                </div>
              </div>
              <!-- Fin Barra Búsqueda  -->

              <div class="col-lg-12">
                <div class="sidebar-item recent-posts">
                  <div class="sidebar-heading">
                    <h2>Post Recientes</h2>
                  </div>
                  <div class="content">
                    <ul>

                      <!-- Inicio Posts reciente-->
                      {% for post in posteos %}
                        {% if forloop.counter <= 3 %}
                          <li>
                            <a href="{% url "blog:detalle" post.url %}">
                              <h5>{{ post.titulo }}</h5>
                              <span>{{ post.creado }}</span>
                            </a>
                          </li>
                        {% endif %}
                      {% endfor %}
                      <!-- Fin Posts reciente-->

                    </ul>
                  </div>
                </div>
              </div>

              <div class="col-lg-12">
                <div class="sidebar-item categories">
                  <div class="sidebar-heading">
                    <h2>CATEGORIAS</h2>
                  </div>
                  <div class="content">
                    <ul>

                      <!-- Inicio Marcas-->
                      {% for categoria in categoria %}
                        <li><a href="{% url 'blog:categoria' categoria.id %}">{{ categoria.titulo }}</a></li>
                      {% endfor %}
                      <!-- Fin Marcas-->
                  
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>

{% endblock contenido %}

