{% extends "blog/base.html" %}
{% load static %}

{% block titulo %}Nosotros{% endblock titulo %}

{% block contenido %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Nosotros</h4>
                <h2>BLOG GRUPO 1</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>  
    
    <!-- Banner Ends Here -->


    <section class="about-us">
      <div class="container">
      	
        <div class="row">
          <div class="col-lg-12">
            <img src="assets/images/about-us.jpg" alt="">
            <h3>Recomienda nuestro blog a tus Amigos! </h3>
            
            <p>Un grupo de trabajo con objetivos claros</a><p> En la provincia de Chaco, un grupo de cuatro personas se reunió para discutir el progreso de su proyecto de blog. El grupo estaba formado por personas de diferentes edades, profesiones y habilidades, pero todos compartían un objetivo común: crear un blog que ayudara a las personas a ahorrar dinero. </p></a>
          
                    
          
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-6">
          <h4>Blog para gastar menos</h4>
          	<p>Las fiestas son una época de alegría y celebración, pero también pueden ser una época de gastos excesivos. Si estás buscando formas de ahorrar dinero en las fiestas, has venido al lugar correcto.</p>
          </div>
          <div class="col-lg-6">
          <h4>Blog para gastar menos</h4>
          	<p>En este blog, encontrarás tutoriales y consejos para ayudarte a economizar en todo, desde la decoración hasta la comida y las bebidas. Te mostraremos cómo hacer tus propias decoraciones, planificar comidas económicas y encontrar ofertas en regalos.</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-lg-4 col-md-6">
          <h4>¿Por qué ahorrar en las fiestas?</h4>
          	<p>Hay muchas razones por las que es importante ahorrar en las fiestas. Por un lado, puede ayudarte a mantenerte dentro de tu presupuesto y evitar endeudarte. Por otro lado, puede ayudarte a ahorrar para otras cosas que son importantes para ti, como la jubilación, la educación de tus hijos o un viaje.</p>
          </div>
          <div class="col-lg-4 col-md-6">
          <h4>¿Qué encontrarás en este blog?</h4>
          	<p>En este blog, encontrarás tutoriales y consejos para ayudarte a economizar en todo, desde la decoración hasta la comida y las bebidas.</p>
          </div>
          <div class="col-lg-4">
          <h4>¿Cómo puedo ayudar?</h4>
          	<p>Nos encantaría saber de ti. Si tienes alguna pregunta o sugerencia, no dudes en dejarnos un comentario. También puedes compartir tus propias experiencias y consejos para ayudar a otros a ahorrar en las fiestas.</p>
          </div>
        </div>
          
          <div class="row">
            <div class="col-lg-4">
              <img src="{% static 'post/fotoperfilbautista.png' %}" alt="mdo" width="200" height="200" class="rounded-circle">
              <h2 class="fw-normal"> BAUSTISTA</h2>
              <p>CARBALLO UCEROB BAUSTISTA</p>
              <div class="row">
                <div class="col-lg-12">
                  <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <p></p>
            </ul>
          </div>
        </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{% static 'post/fotoperfilleandro.jpg' %}" alt="foto perfil" width="200" height="200" class="rounded-circle">
              <h2 class="fw-normal">LEANDRO</h2>
              <p>URTURI DIEGO LEANDRO</p>

              <div class="row">
                <div class="col-lg-12">
                  <ul class="social-icons">
              <li><a href="https://www.facebook.com/leandrourturi?locale=es_LA"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/leandrourturi"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.linkedin.com/in/diego-leandro-urturi-859a2b53/"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/lea_urturi/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{% static 'post/fotoperfilguillermo.jpg' %}" alt="mdo" width="200" height="200" class="rounded-circle">
              <h2 class="fw-normal">GUILLERMO </h2>
              <p>GUILLERMO MALDONADO ALVAREZ</p>

              <div class="row">
                <div class="col-lg-12">
                  <ul class="social-icons">
              <li><a href="https://www.facebook.com/search/top?q=yoghurtus%20mmghe&locale=es_LA"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img src="{% static 'post/fotoperfilsupernova.jpg' %}" alt="mdo" width="200" height="200" class="rounded-circle">
              <h2 class="fw-normal">NANCY</h2>
              <p>CAZZANIGA NANCY ELIZABETH</p>
              <div class="row">
                <div class="col-lg-12">
                  <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.instagram.com/alegre6257/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
            </div><!-- /.col-lg-4 -->
          </div>
        </div>
        

        
        
      </div>
    </section>


{% endblock contenido %}