{% extends "blog/base.html" %}
{% load static %}

{% block titulo %}Salir OK{% endblock titulo %}

{% block contenido %}

        <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Salida Exitosa</h4>
                <h2>BLOG GRUPO 1</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->

    <main role="main" class="container">
        <div class="starter-template">
            <h1>Saliste del sitio web con éxito</h1>
            <p class="lead">Si la página no es redirigida en 5 segundos pulsa <a href="{% url 'auth:login' %}">aquí</a></p>
        </div>
    </main>
    <script>
        setTimeout(function(){ 
            window.location.replace("{% url 'auth:login' %}");
        }, 5000);
    </script>

{% endblock contenido %}